@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .medium-container {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }
  .background {
    @apply bg-white dark:bg-slate-950;
  }
  .surface {
    @apply bg-white dark:bg-slate-900 ring-1 ring-slate-900/5 shadow-xl;
  }
  .primary-color {
    @apply text-purple-700 dark:text-purple-300;
  }
  .primary-bg {
    @apply bg-purple-700 dark:bg-purple-300;
  }
  .secondary-color {
    @apply text-teal-400;
  }
  .secondary-bg {
    @apply bg-teal-400;
  }
  .info-color {
    @apply text-slate-500 dark:text-slate-300;
  }
  .input {
    @apply bg-transparent h-10  placeholder-transparent rounded-lg info-color ring-2 px-2 ring-gray-500 ring-slate-500 dark:ring-slate-300 focus:ring-purple-700 dark:focus:ring-purple-300 focus:outline-none focus:invalid:border-rose-600 transition-all;
  }
  .input-label {
    @apply absolute z-20 cursor-text info-color left-0 -top-3 text-sm bg-white dark:bg-slate-900 mx-1 px-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-slate-500 dark:peer-placeholder-shown:text-slate-300 peer-placeholder-shown:top-2 peer-focus:-top-3 peer-focus:text-purple-700 dark:peer-focus:text-purple-300 peer-focus:text-sm transition-all;
  }
}
